.flags {
    width: 48px;
    height: 48px;
    min-width: 48px;
    background-image: url(flags.png);
    background-repeat: no-repeat;
    display: block;
}

.flags-abkhazia {
    background-position: -5px -5px;
}

.flags-ad {
    background-position: -63px -5px;
}

.flags-ae {
    background-position: -121px -5px;
}

.flags-af {
    background-position: -179px -5px;
}

.flags-ag {
    background-position: -237px -5px;
}

.flags-ai {
    background-position: -295px -5px;
}

.flags-al {
    background-position: -353px -5px;
}

.flags-am {
    background-position: -411px -5px;
}

.flags-an {
    background-position: -469px -5px;
}

.flags-ao {
    background-position: -527px -5px;
}

.flags-aq {
    background-position: -585px -5px;
}

.flags-ar {
    background-position: -643px -5px;
}

.flags-as {
    background-position: -701px -5px;
}

.flags-at {
    background-position: -759px -5px;
}

.flags-au {
    background-position: -817px -5px;
}

.flags-aw {
    background-position: -5px -63px;
}

.flags-ax {
    background-position: -63px -63px;
}

.flags-az {
    background-position: -121px -63px;
}

.flags-ba {
    background-position: -179px -63px;
}

.flags-bb {
    background-position: -237px -63px;
}

.flags-bd {
    background-position: -295px -63px;
}

.flags-be {
    background-position: -353px -63px;
}

.flags-bf {
    background-position: -411px -63px;
}

.flags-bg {
    background-position: -469px -63px;
}

.flags-bh {
    background-position: -527px -63px;
}

.flags-bi {
    background-position: -585px -63px;
}

.flags-bj {
    background-position: -643px -63px;
}

.flags-bl {
    background-position: -701px -63px;
}

.flags-bm {
    background-position: -759px -63px;
}

.flags-bn {
    background-position: -817px -63px;
}

.flags-bo {
    background-position: -5px -121px;
}

.flags-br {
    background-position: -63px -121px;
}

.flags-bs {
    background-position: -121px -121px;
}

.flags-bt {
    background-position: -179px -121px;
}

.flags-bw {
    background-position: -237px -121px;
}

.flags-by_ {
    background-position: -295px -121px;
}

.flags-by {
    background-position: -353px -121px;
}

.flags-bz {
    background-position: -411px -121px;
}

.flags-ca {
    background-position: -469px -121px;
}

.flags-cd {
    background-position: -527px -121px;
}

.flags-cf {
    background-position: -585px -121px;
}

.flags-cg {
    background-position: -643px -121px;
}

.flags-ch {
    background-position: -701px -121px;
}

.flags-ci {
    background-position: -759px -121px;
}

.flags-cl {
    background-position: -817px -121px;
}

.flags-cm {
    background-position: -5px -179px;
}

.flags-cn {
    background-position: -63px -179px;
}

.flags-co {
    background-position: -121px -179px;
}

.flags-cr {
    background-position: -179px -179px;
}

.flags-cu {
    background-position: -237px -179px;
}

.flags-cv {
    background-position: -295px -179px;
}

.flags-cy {
    background-position: -353px -179px;
}

.flags-cz {
    background-position: -411px -179px;
}

.flags-de {
    background-position: -469px -179px;
}

.flags-dj {
    background-position: -527px -179px;
}

.flags-dk {
    background-position: -585px -179px;
}

.flags-dm {
    background-position: -643px -179px;
}

.flags-do {
    background-position: -701px -179px;
}

.flags-dz {
    background-position: -759px -179px;
}

.flags-ec {
    background-position: -817px -179px;
}

.flags-ee {
    background-position: -5px -237px;
}

.flags-eg {
    background-position: -63px -237px;
}

.flags-eh {
    background-position: -121px -237px;
}

.flags-england {
    background-position: -179px -237px;
}

.flags-er {
    background-position: -237px -237px;
}

.flags-es {
    background-position: -295px -237px;
}

.flags-et {
    background-position: -353px -237px;
}

.flags-eu {
    background-position: -411px -237px;
}

.flags-fi {
    background-position: -469px -237px;
}

.flags-fiji {
    background-position: -527px -237px;
}

.flags-fk {
    background-position: -585px -237px;
}

.flags-fm {
    background-position: -643px -237px;
}

.flags-fo {
    background-position: -701px -237px;
}

.flags-fr {
    background-position: -759px -237px;
}

.flags-ga {
    background-position: -817px -237px;
}

.flags-gd {
    background-position: -5px -295px;
}

.flags-ge {
    background-position: -63px -295px;
}

.flags-gg {
    background-position: -121px -295px;
}

.flags-gh {
    background-position: -179px -295px;
}

.flags-gi {
    background-position: -875px -818px;
}

.flags-gl {
    background-position: -237px -295px;
}

.flags-gm {
    background-position: -295px -295px;
}

.flags-gn {
    background-position: -353px -295px;
}

.flags-gq {
    background-position: -411px -295px;
}

.flags-gr {
    background-position: -469px -295px;
}

.flags-gs {
    background-position: -527px -295px;
}

.flags-gt {
    background-position: -585px -295px;
}

.flags-gu {
    background-position: -643px -295px;
}

.flags-gw {
    background-position: -701px -295px;
}

.flags-gy {
    background-position: -759px -295px;
}

.flags-hk {
    background-position: -817px -295px;
}

.flags-hn {
    background-position: -5px -353px;
}

.flags-hr {
    background-position: -63px -353px;
}

.flags-ht {
    background-position: -121px -353px;
}

.flags-hu {
    background-position: -179px -353px;
}

.flags-id {
    background-position: -237px -353px;
}

.flags-ie {
    background-position: -295px -353px;
}

.flags-il {
    background-position: -353px -353px;
}

.flags-im {
    background-position: -411px -353px;
}

.flags-in {
    background-position: -469px -353px;
}

.flags-iq {
    background-position: -527px -353px;
}

.flags-ir {
    background-position: -585px -353px;
}

.flags-is {
    background-position: -643px -353px;
}

.flags-it {
    background-position: -701px -353px;
}

.flags-je {
    background-position: -759px -353px;
}

.flags-jm {
    background-position: -817px -353px;
}

.flags-jo {
    background-position: -5px -411px;
}

.flags-jp {
    background-position: -63px -411px;
}

.flags-ke {
    background-position: -121px -411px;
}

.flags-kg {
    background-position: -179px -411px;
}

.flags-kh {
    background-position: -237px -411px;
}

.flags-ki {
    background-position: -295px -411px;
}

.flags-km {
    background-position: -353px -411px;
}

.flags-kn {
    background-position: -411px -411px;
}

.flags-kosovo {
    background-position: -469px -411px;
}

.flags-kp {
    background-position: -527px -411px;
}

.flags-kr {
    background-position: -585px -411px;
}

.flags-kw {
    background-position: -643px -411px;
}

.flags-ky {
    background-position: -701px -411px;
}

.flags-kz {
    background-position: -759px -411px;
}

.flags-la {
    background-position: -817px -411px;
}

.flags-lb {
    background-position: -5px -469px;
}

.flags-lc {
    background-position: -63px -469px;
}

.flags-li {
    background-position: -121px -469px;
}

.flags-lk {
    background-position: -179px -469px;
}

.flags-lr {
    background-position: -237px -469px;
}

.flags-ls {
    background-position: -295px -469px;
}

.flags-lt {
    background-position: -353px -469px;
}

.flags-lu {
    background-position: -411px -469px;
}

.flags-lv {
    background-position: -469px -469px;
}

.flags-ly {
    background-position: -527px -469px;
}

.flags-ma {
    background-position: -585px -469px;
}

.flags-mc {
    background-position: -643px -469px;
}

.flags-md {
    background-position: -701px -469px;
}

.flags-me {
    background-position: -759px -469px;
}

.flags-mf {
    background-position: -817px -469px;
}

.flags-mg {
    background-position: -5px -527px;
}

.flags-mh {
    background-position: -63px -527px;
}

.flags-mk {
    background-position: -121px -527px;
}

.flags-ml {
    background-position: -179px -527px;
}

.flags-mm {
    background-position: -237px -527px;
}

.flags-mn {
    background-position: -295px -527px;
}

.flags-mo {
    background-position: -353px -527px;
}

.flags-mp {
    background-position: -411px -527px;
}

.flags-mr {
    background-position: -469px -527px;
}

.flags-ms {
    background-position: -527px -527px;
}

.flags-mt {
    background-position: -585px -527px;
}

.flags-mu {
    background-position: -643px -527px;
}

.flags-mv {
    background-position: -701px -527px;
}

.flags-mw {
    background-position: -759px -527px;
}

.flags-mx {
    background-position: -817px -527px;
}

.flags-my {
    background-position: -5px -585px;
}

.flags-mz {
    background-position: -63px -585px;
}

.flags-na {
    background-position: -121px -585px;
}

.nagorno-flags-karabakh {
    background-position: -179px -585px;
}

.flags-nato {
    background-position: -237px -585px;
}

.flags-nf {
    background-position: -295px -585px;
}

.flags-ng {
    background-position: -353px -585px;
}

.flags-ni {
    background-position: -411px -585px;
}

.flags-ni_ {
    background-position: -469px -585px;
}

.flags-nl {
    background-position: -527px -585px;
}

.flags-no {
    background-position: -585px -585px;
}

.flags-np {
    background-position: -643px -585px;
}

.flags-nr {
    background-position: -701px -585px;
}

.flags-nz {
    background-position: -759px -585px;
}

.flags-om {
    background-position: -817px -585px;
}

.flags-pa {
    background-position: -5px -643px;
}

.flags-pe {
    background-position: -63px -643px;
}

.flags-pg {
    background-position: -121px -643px;
}

.flags-ph {
    background-position: -179px -643px;
}

.flags-pk {
    background-position: -237px -643px;
}

.flags-pl {
    background-position: -295px -643px;
}

.flags-pn {
    background-position: -353px -643px;
}

.flags-pr {
    background-position: -411px -643px;
}

.flags-ps {
    background-position: -469px -643px;
}

.flags-pt {
    background-position: -527px -643px;
}

.flags-pw {
    background-position: -585px -643px;
}

.flags-py {
    background-position: -643px -643px;
}

.flags-qa {
    background-position: -701px -643px;
}

.flags-re {
    background-position: -759px -237px;
}

.flags-nc {
    background-position: -118px -866px;
}

.flags-om {
    background-position: -2px -866px;
}

.flags-tl {
    background-position: -55px -866px;
}

.flags-red_cross {
    background-position: -759px -643px;
}

.flags-ro {
    background-position: -817px -643px;
}

.flags-rs {
    background-position: -5px -701px;
}

.flags-ru {
    background-position: -63px -701px;
}

.flags-rw {
    background-position: -121px -701px;
}

.flags-sa {
    background-position: -179px -701px;
}

.flags-sb {
    background-position: -237px -701px;
}

.flags-sc {
    background-position: -295px -701px;
}

.flags-scotland {
    background-position: -353px -701px;
}

.flags-sd {
    background-position: -411px -701px;
}

.flags-se {
    background-position: -469px -701px;
}

.flags-sg {
    background-position: -527px -701px;
}

.flags-sh {
    background-position: -585px -701px;
}

.flags-si {
    background-position: -643px -701px;
}

.flags-sk {
    background-position: -701px -701px;
}

.flags-sl {
    background-position: -759px -701px;
}

.flags-sn {
    background-position: -817px -701px;
}

.flags-so {
    background-position: -5px -759px;
}

.flags-somaliland {
    background-position: -63px -759px;
}

.flags-south_ossetia {
    background-position: -121px -759px;
}

.flags-sr {
    background-position: -179px -759px;
}

.flags-ss {
    background-position: -237px -759px;
}

.flags-st {
    background-position: -295px -759px;
}

.flags-sv {
    background-position: -353px -759px;
}

.flags-sy {
    background-position: -411px -759px;
}

.flags-sz {
    background-position: -469px -759px;
}

.flags-tc {
    background-position: -527px -759px;
}

.flags-td {
    background-position: -585px -759px;
}

.flags-tg {
    background-position: -643px -759px;
}

.flags-th {
    background-position: -701px -759px;
}

.flags-tj {
    background-position: -759px -759px;
}

.flags-tm {
    background-position: -817px -759px;
}

.flags-tn {
    background-position: -5px -817px;
}

.flags-to {
    background-position: -63px -817px;
}

.flags-tp {
    background-position: -121px -817px;
}

.flags-tr {
    background-position: -179px -817px;
}

.flags-tt {
    background-position: -237px -817px;
}

.flags-turkish_republic_of_northern_cyprus {
    background-position: -295px -817px;
}

.flags-tv {
    background-position: -353px -817px;
}

.flags-tw {
    background-position: -411px -817px;
}

.flags-tz {
    background-position: -469px -817px;
}

.flags-ua {
    background-position: -527px -817px;
}

.flags-ug {
    background-position: -585px -817px;
}

.flags-gb {
    background-position: -643px -817px;
}

.flags-un {
    background-position: -701px -817px;
}

.flags-us {
    background-position: -759px -817px;
}

.flags-uy {
    background-position: -817px -817px;
}

.flags-uz {
    background-position: -875px -5px;
}

.flags-va {
    background-position: -875px -63px;
}

.flags-vc {
    background-position: -875px -121px;
}

.flags-ve {
    background-position: -875px -179px;
}

.flags-vg {
    background-position: -875px -237px;
}

.flags-vi {
    background-position: -875px -295px;
}

.flags-vn {
    background-position: -875px -353px;
}

.flags-vu {
    background-position: -875px -411px;
}

.flags-wales {
    background-position: -875px -469px;
}

.flags-ws {
    background-position: -875px -527px;
}

.flags-ye {
    background-position: -875px -585px;
}

.flags-za {
    background-position: -875px -643px;
}

.flags-zm {
    background-position: -875px -701px;
}

.flags-zw {
    background-position: -875px -759px;
}
