.services-1kkirana,
.services-1xbet,
.services-23red,
.services-888casino,
.services-99acres,
.services-99app,
.services-ace2three,
.services-adidas,
.services-agroinform,
.services-airpng,
.services-airtel,
.services-alibaba,
.services-aliexpress,
.services-alipay,
.services-amazon,
.services-aol,
.services-apple,
.services-astropay,
.services-auchan,
.services-avito,
.services-baidu,
.services-bigolive,
.services-bilibili,
.services-bisu,
.services-bitclout,
.services-bitlo,
.services-bittube,
.services-blablacar,
.services-blizzard,
.services-blockchain,
.services-blued,
.services-boddess,
.services-bolt,
.services-burgerking,
.services-cardekho,
.services-careem,
.services-carousell,
.services-cdkeys,
.services-cekkazan,
.services-celebe,
.services-citymobil,
.services-clickentregas,
.services-coinbase,
.services-coindcx,
.services-coinfield,
.services-craigslist,
.services-cryptocom,
.services-dahadaha,
.services-dbrua,
.services-deliveroo,
.services-delivery,
.services-detskijmir,
.services-dhani,
.services-didi,
.services-discord,
.services-disneyhotstar,
.services-dixy,
.services-dodopizza,
.services-domdara,
.services-dostavista,
.services-douyu,
.services-download,
.services-dream11,
.services-drom,
.services-dukascopy,
.services-easypay,
.services-ebay,
.services-edgeless,
.services-eldorado,
.services-electroneum,
.services-facebook,
.services-faceit,
.services-fanfight,
.services-fetchrewards,
.services-fiqsy,
.services-fiverr,
.services-flipkart,
.services-foodora,
.services-foodpanda,
.services-foody,
.services-galaxy,
.services-gcash,
.services-gemini,
.services-get,
.services-getir,
.services-gett,
.services-global24,
.services-globaltel,
.services-goods,
.services-google,
.services-googlevoice,
.services-grabtaxi,
.services-green,
.services-grindr,
.services-handypick,
.services-happn,
.services-haraj,
.services-hepsiburadacom,
.services-hezzl,
.services-hily,
.services-hinge,
.services-hopi,
.services-hotline,
.services-housing,
.services-howzat,
.services-hqtrivia,
.services-huya,
.services-icard,
.services-icicidirect,
.services-icq,
.services-icrypex,
.services-ifood,
.services-immowelt,
.services-imo,
.services-inboxlv,
.services-indiaplays,
.services-infomaniak,
.services-ininal,
.services-instagram,
.services-iost,
.services-irancell,
.services-irctc,
.services-iyc,
.services-jd,
.services-justdating,
.services-justdial,
.services-kakaotalk,
.services-karusel,
.services-kazandirio,
.services-keybase,
.services-keypay,
.services-kfc,
.services-kotak811,
.services-kufarby,
.services-kvartplata,
.services-kwai,
.services-lamoda,
.services-laposte,
.services-lazada,
.services-lbry,
.services-lenta,
.services-lightchat,
.services-likee,
.services-line,
.services-linkedin,
.services-livescore,
.services-locoff,
.services-locogg,
.services-lovelocal,
.services-lybrate,
.services-lyka,
.services-magicbricks,
.services-magicpin,
.services-magnit,
.services-mailru,
.services-makemoney,
.services-mantrimall,
.services-mcdonalds,
.services-medibuddy,
.services-meesho,
.services-meetme,
.services-mega,
.services-megogo,
.services-mercado,
.services-meta,
.services-metro,
.services-michat,
.services-microsoft,
.services-migroshemen,
.services-miratorg,
.services-mobikwik,
.services-mobile01,
.services-mocospace,
.services-momo,
.services-monese,
.services-moneylion,
.services-monoapp,
.services-mosru,
.services-mpl,
.services-mrgreen,
.services-mtscashback,
.services-mvideo,
.services-myfab11,
.services-myfishka,
.services-myglo,
.services-mylove,
.services-mymusictaste,
.services-myntra,
.services-naver,
.services-netease,
.services-netflix,
.services-nhseven,
.services-nifty,
.services-nike,
.services-nimses,
.services-nobroker,
.services-none,
.services-noon,
.services-nttgame,
.services-odnoklassniki,
.services-offerup,
.services-offgamers,
.services-okcupid,
.services-okey,
.services-okko,
.services-okta,
.services-okx,
.services-olacabs,
.services-olx,
.services-onlinerby,
.services-ontaxi,
.services-openai,
.services-openpoint,
.services-oraclecloud,
.services-otipy,
.services-otovinn,
.services-oyo,
.services-ozon,
.services-paddypower,
.services-panelstation,
.services-papara,
.services-parimatch,
.services-paxful,
.services-paycell,
.services-paypal,
.services-paysafecard,
.services-paytm,
.services-payzapp,
.services-peoplecom,
.services-perekrestok,
.services-pgbonus,
.services-picpay,
.services-playerzpot,
.services-pof,
.services-pokec,
.services-pokermaster,
.services-poshmark,
.services-premiumone,
.services-probo,
.services-prom,
.services-protonmail,
.services-pureplatfrom,
.services-pyaterochka,
.services-q12trivia,
.services-qiwiwallet,
.services-quack,
.services-quikr,
.services-quipp,
.services-rainmaker,
.services-rakuten,
.services-rapido,
.services-redbook,
.services-rediffmail,
.services-reuse,
.services-royalwin,
.services-rozetka,
.services-rummy,
.services-rummyculture,
.services-rummywealth,
.services-rush,
.services-rutube,
.services-sahicoin,
.services-samokat,
.services-samsungshop,
.services-sbermarket,
.services-seznam,
.services-shopee,
.services-signal,
.services-sikka,
.services-siply,
.services-skout,
.services-snackvideo,
.services-snapchat,
.services-snappfood,
.services-sneakersnstuff,
.services-spartanpoker,
.services-sportmaster,
.services-ssoidnet,
.services-steam,
.services-steemit,
.services-stoloto,
.services-sunlight,
.services-surveyjunkie,
.services-surveytime,
.services-swagbucks,
.services-swiggy,
.services-swvl,
.services-talabat,
.services-tango,
.services-tantan,
.services-taobao,
.services-taptapsend,
.services-taskdealsin,
.services-tatacliq,
.services-telegram,
.services-tencentqq,
.services-teremok,
.services-ticketmaster,
.services-tiktok,
.services-tinder,
.services-tosla,
.services-trendyol,
.services-trip,
.services-truecaller,
.services-twelfthman,
.services-twilio,
.services-twitch,
.services-twitter,
.services-uber,
.services-unacademy,
.services-uploaded,
.services-vernyi,
.services-viber,
.services-vinota,
.services-vinted,
.services-vipvending,
.services-vitajekspress,
.services-vkontakte,
.services-wechat,
.services-weku,
.services-weststein,
.services-whatsapp,
.services-whoosh,
.services-wingmoney,
.services-winzo,
.services-wizely,
.services-wmaraci,
.services-wolt,
.services-xiaomi,
.services-yaay,
.services-yahoo,
.services-yalla,
.services-yandex,
.services-yappy,
.services-yemeksepeti,
.services-youdo,
.services-yougotagift,
.services-youla,
.services-youstar,
.services-yubo,
.services-zalo,
.services-zcity,
.services-zebpay,
.services-zepto,
.services-ziglu,
.services-zoho,
.services-zupee {
    filter: none !important;
}
.services {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(/media/sprites/services.png);
    background-repeat: no-repeat;
    background-position: -337px -48px;
}
[data-theme='dark'] .services {
    filter: invert(0.7);
}
.services-1kkirana {
    background-position: -25px 0;
}
.services-1xbet {
    background-position: 0 -24px;
}
.services-23red {
    background-position: -24px -24px;
}
.services-99acres {
    background-position: -49px 0;
}
.services-99app {
    background-position: -49px -24px;
}
.services-888casino {
    background-position: 0 -48px;
}
.services-1688 {
    background-position: -24px -48px;
}
.dark .services-1688,
.dark .services-other {
    filter: invert(1);
}
.services-ace2three {
    background-position: -48px -48px;
}
.services-adidas {
    background-position: -73px 0;
}
.services-agroinform {
    background-position: -73px -24px;
}
.services-airpng {
    background-position: -73px -48px;
}
.services-airtel {
    background-position: 0 -72px;
}
.services-alibaba {
    background-position: -24px -72px;
}
.services-aliexpress {
    background-position: -48px -72px;
}
.services-alipay {
    background-position: -72px -72px;
}
.services-amazon {
    background-position: -97px 0;
}
.services-aol {
    background-position: -97px -24px;
}
.services-apple {
    background-position: -97px -48px;
}
.services-astropay {
    background-position: -97px -72px;
}
.services-auchan {
    background-position: 0 -96px;
}
.services-avito {
    background-position: -24px -96px;
}
.services-baidu {
    background-position: -48px -96px;
}
.services-bigolive {
    background-position: -72px -96px;
}
.services-bilibili {
    background-position: -96px -96px;
}
.services-bisu {
    background-position: -121px 0;
}
.services-bitclout {
    background-position: -121px -24px;
}
.services-bitlo {
    background-position: -121px -48px;
}
.services-bittube {
    background-position: -121px -72px;
}
.services-blablacar {
    background-position: -121px -96px;
}
.services-blizzard {
    background-position: 0 -120px;
}
.services-blockchain {
    background-position: -24px -120px;
}
.services-blued {
    background-position: -48px -120px;
}
.services-boddess {
    background-position: -72px -120px;
}
.services-bolt {
    background-position: -96px -120px;
}
.services-burgerking {
    background-position: -120px -120px;
}
.services-cardekho {
    background-position: -145px 0;
}
.services-careem {
    background-position: -145px -24px;
}
.services-carousell {
    background-position: -145px -48px;
}
.services-cdkeys {
    background-position: -145px -72px;
}
.services-cekkazan {
    background-position: -145px -96px;
}
.services-celebe {
    background-position: -145px -120px;
}
.services-citymobil {
    background-position: 0 -144px;
}
.services-clickentregas {
    background-position: -24px -144px;
}
.services-coinbase {
    background-position: -48px -144px;
}
.services-coindcx {
    background-position: -72px -144px;
}
.services-coinfield {
    background-position: -96px -144px;
}
.services-craigslist {
    background-position: -120px -144px;
}
.services-cryptocom {
    background-position: -144px -144px;
}
.services-dbrua {
    background-position: -169px 0;
}
.services-dahadaha {
    background-position: -169px -24px;
}
.services-deliveroo {
    background-position: -169px -48px;
}
.services-delivery {
    background-position: -169px -72px;
}
.services-detskijmir {
    background-position: -169px -96px;
}
.services-dhani {
    background-position: -169px -120px;
}
.services-didi {
    background-position: -169px -144px;
}
.services-discord {
    background-position: 0 -168px;
}
.services-disneyhotstar {
    background-position: -24px -168px;
}
.services-dixy {
    background-position: -48px -168px;
}
.services-dodopizza {
    background-position: -72px -168px;
}
.services-domdara {
    background-position: -96px -168px;
}
.services-dostavista {
    background-position: -120px -168px;
}
.services-dream11 {
    background-position: -144px -168px;
}
.services-douyu {
    background-position: -168px -168px;
}
.services-download {
    background-position: -193px 0;
}
.services-drom {
    background-position: -193px -24px;
}
.services-dukascopy {
    background-position: -193px -48px;
}
.services-easypay {
    background-position: -193px -72px;
}
.services-ebay {
    background-position: -193px -96px;
}
.services-edgeless {
    background-position: -193px -120px;
}
.services-eldorado {
    background-position: -193px -144px;
}
.services-electroneum {
    background-position: -193px -168px;
}
.services-facebook {
    background-position: 0 -192px;
}
.services-faceit {
    background-position: -24px -192px;
}
.services-fanfight {
    background-position: -48px -192px;
}
.services-fetchrewards {
    background-position: -72px -192px;
}
.services-fiqsy {
    background-position: -96px -192px;
}
.services-fiverr {
    background-position: -120px -192px;
}
.services-flipkart {
    background-position: -144px -192px;
}
.services-foodora {
    background-position: -168px -192px;
}
.services-foodpanda {
    background-position: -192px -192px;
}
.services-foody {
    background-position: -217px 0;
}
.services-galaxy {
    background-position: -217px -24px;
}
.services-gcash {
    background-position: -217px -48px;
}
.services-gemini {
    background-position: -217px -72px;
}
.services-get {
    background-position: -217px -96px;
}
.services-getir {
    background-position: -217px -120px;
}
.services-gett {
    background-position: -217px -144px;
}
.services-global24 {
    background-position: -217px -168px;
}
.services-globaltel {
    background-position: -217px -192px;
}
.services-goods {
    background-position: 0 -216px;
}
.services-google {
    background-position: -24px -216px;
}
.services-googlevoice {
    background-position: -48px -216px;
}
.services-grabtaxi {
    background-position: -72px -216px;
}
.services-green {
    background-position: -96px -216px;
}
.services-grindr {
    background-position: -120px -216px;
}
.services-handypick {
    background-position: -144px -216px;
}
.services-happn {
    background-position: -168px -216px;
}
.services-haraj {
    background-position: -192px -216px;
}
.services-hepsiburadacom {
    background-position: -216px -216px;
}
.services-hezzl {
    background-position: -241px 0;
}
.services-hily {
    background-position: -241px -24px;
}
.services-hinge {
    background-position: -241px -48px;
}
.services-hopi {
    background-position: -241px -72px;
}
.services-hotline {
    background-position: -241px -96px;
}
.services-housing {
    background-position: -241px -120px;
}
.services-howzat {
    background-position: -241px -144px;
}
.services-hqtrivia {
    background-position: -241px -168px;
}
.services-huya {
    background-position: -241px -192px;
}
.services-icard {
    background-position: -241px -216px;
}
.services-icicidirect {
    background-position: 0 -240px;
}
.services-icq {
    background-position: -24px -240px;
}
.services-icrypex {
    background-position: -48px -240px;
}
.services-ifood {
    background-position: -72px -240px;
}
.services-immowelt {
    background-position: -96px -240px;
}
.services-imo {
    background-position: -120px -240px;
}
.services-inboxlv {
    background-position: -144px -240px;
}
.services-indiaplays {
    background-position: -168px -240px;
}
.services-infomaniak {
    background-position: -192px -240px;
}
.services-ininal {
    background-position: -216px -240px;
}
.services-instagram {
    background-position: -240px -240px;
}
.services-iost {
    background-position: -265px 0;
}
.services-irancell {
    background-position: -265px -24px;
}
.services-irctc {
    background-position: -265px -48px;
}
.services-iyc {
    background-position: -265px -72px;
}
.services-jd {
    background-position: -265px -96px;
}
.services-justdating {
    background-position: -265px -120px;
}
.services-justdial {
    background-position: -265px -144px;
}
.services-kakaotalk {
    background-position: -265px -168px;
}
.services-karusel {
    background-position: -265px -192px;
}
.services-kazandirio {
    background-position: -265px -216px;
}
.services-keybase {
    background-position: -265px -240px;
}
.services-keypay {
    background-position: 0 -264px;
}
.services-kfc {
    background-position: -24px -264px;
}
.services-kotak811 {
    background-position: -48px -264px;
}
.services-kufarby {
    background-position: -72px -264px;
}
.services-kvartplata {
    background-position: -96px -264px;
}
.services-kwai {
    background-position: -120px -264px;
}
.services-lamoda {
    background-position: -144px -264px;
}
.services-laposte {
    background-position: -168px -264px;
}
.services-lazada {
    background-position: -192px -264px;
}
.services-lbry {
    background-position: -216px -264px;
}
.services-lenta {
    background-position: -240px -264px;
}
.services-lightchat {
    background-position: -264px -264px;
}
.services-likee {
    background-position: -289px 0;
}
.services-line {
    background-position: -289px -24px;
}
.services-linkedin {
    background-position: -289px -48px;
}
.services-livescore {
    background-position: -289px -72px;
}
.services-locoff {
    background-position: -289px -96px;
}
.services-locogg {
    background-position: -289px -120px;
}
.services-lovelocal {
    background-position: -289px -144px;
}
.services-lybrate {
    background-position: -289px -168px;
}
.services-lyka {
    background-position: -289px -192px;
}
.services-magicbricks {
    background-position: -289px -216px;
}
.services-magicpin {
    background-position: -289px -240px;
}
.services-magnit {
    background-position: -289px -264px;
}
.services-mailru {
    background-position: 0 -288px;
}
.services-makemoney {
    background-position: -24px -288px;
}
.services-mantrimall {
    background-position: -48px -288px;
}
.services-mcdonalds {
    background-position: -72px -288px;
}
.services-medibuddy {
    background-position: -96px -288px;
}
.services-meesho {
    background-position: -120px -288px;
}
.services-meetme {
    background-position: -144px -288px;
}
.services-mega {
    background-position: -168px -288px;
}
.services-megogo {
    background-position: -192px -288px;
}
.services-mercado {
    background-position: -216px -288px;
}
.services-meta {
    background-position: -240px -288px;
}
.services-metro {
    background-position: -264px -288px;
}
.services-michat {
    background-position: -288px -288px;
}
.services-microsoft {
    background-position: -313px 0;
}
.services-migroshemen {
    background-position: -313px -24px;
}
.services-miratorg {
    background-position: -313px -48px;
}
.services-mobikwik {
    background-position: -313px -72px;
}
.services-mobile01 {
    background-position: -313px -96px;
}
.services-mocospace {
    background-position: -313px -120px;
}
.services-momo {
    background-position: -313px -144px;
}
.services-monese {
    background-position: -313px -168px;
}
.services-moneylion {
    background-position: -313px -192px;
}
.services-monoapp {
    background-position: -313px -216px;
}
.services-mosru {
    background-position: -313px -240px;
}
.services-mpl {
    background-position: -313px -264px;
}
.services-mrgreen {
    background-position: -313px -288px;
}
.services-mtscashback {
    background-position: 0 -312px;
}
.services-mvideo {
    background-position: -24px -312px;
}
.services-myfab11 {
    background-position: -48px -312px;
}
.services-myfishka {
    background-position: -72px -312px;
}
.services-myglo {
    background-position: -96px -312px;
}
.services-mylove {
    background-position: -120px -312px;
}
.services-mymusictaste {
    background-position: -144px -312px;
}
.services-myntra {
    background-position: -168px -312px;
}
.services-naver {
    background-position: -192px -312px;
}
.services-netease {
    background-position: -216px -312px;
}
.services-netflix {
    background-position: -240px -312px;
}
.services-nhseven {
    background-position: -264px -312px;
}
.services-nifty {
    background-position: -288px -312px;
}
.services-nike {
    background-position: -312px -312px;
}
.services-nimses {
    background-position: -337px 0;
}
.services-nobroker {
    background-position: -337px -24px;
}
.services-none {
    background-position: -337px -48px;
}
.services-noon {
    background-position: -337px -72px;
}
.services-nttgame {
    background-position: -337px -96px;
}
.services-odnoklassniki {
    background-position: -337px -120px;
}
.services-offerup {
    background-position: -337px -144px;
}
.services-offgamers {
    background-position: -337px -168px;
}
.services-okcupid {
    background-position: -337px -192px;
}
.services-okey {
    background-position: -337px -216px;
}
.services-okko {
    background-position: -337px -240px;
}
.services-okta {
    background-position: -337px -264px;
}
.services-okx {
    background-position: -337px -288px;
}
.services-olacabs {
    background-position: -337px -312px;
}
.services-olx {
    background-position: 0 -336px;
}
.services-onlinerby {
    background-position: -24px -336px;
}
.services-ontaxi {
    background-position: -48px -336px;
}
.services-openai {
    background-position: -72px -336px;
}
.services-openpoint {
    background-position: -96px -336px;
}
.services-oraclecloud {
    background-position: -120px -336px;
}
.services-other {
    background-position: -144px -336px;
}
.services-otipy {
    background-position: -168px -336px;
}
.services-otovinn {
    background-position: -192px -336px;
}
.services-oyo {
    background-position: -216px -336px;
}
.services-ozon {
    background-position: -240px -336px;
}
.services-paddypower {
    background-position: -264px -336px;
}
.services-panelstation {
    background-position: -288px -336px;
}
.services-papara {
    background-position: -312px -336px;
}
.services-parimatch {
    background-position: -336px -336px;
}
.services-paxful {
    background-position: -361px 0;
}
.services-paycell {
    background-position: -361px -24px;
}
.services-paypal {
    background-position: -361px -48px;
}
.services-paysafecard {
    background-position: -361px -72px;
}
.services-paytm {
    background-position: -361px -96px;
}
.services-payzapp {
    background-position: -361px -120px;
}
.services-peoplecom {
    background-position: -361px -144px;
}
.services-perekrestok {
    background-position: -361px -168px;
}
.services-pgbonus {
    background-position: -361px -192px;
}
.services-picpay {
    background-position: -361px -216px;
}
.services-playerzpot {
    background-position: -361px -240px;
}
.services-pof {
    background-position: -361px -264px;
}
.services-pokec {
    background-position: -361px -288px;
}
.services-pokermaster {
    background-position: -361px -312px;
}
.services-poshmark {
    background-position: -361px -336px;
}
.services-premiumone {
    background-position: 0 -360px;
}
.services-probo {
    background-position: -24px -360px;
}
.services-prom {
    background-position: -48px -360px;
}
.services-protonmail {
    background-position: -72px -360px;
}
.services-pureplatfrom {
    background-position: -96px -360px;
}
.services-pyaterochka {
    background-position: -120px -360px;
}
.services-q12trivia {
    background-position: -144px -360px;
}
.services-qiwiwallet {
    background-position: -168px -360px;
}
.services-quack {
    background-position: -192px -360px;
}
.services-quikr {
    background-position: -216px -360px;
}
.services-quipp {
    background-position: -240px -360px;
}
.services-rainmaker {
    background-position: -264px -360px;
}
.services-rakuten {
    background-position: -288px -360px;
}
.services-rapido {
    background-position: -312px -360px;
}
.services-redbook {
    background-position: -336px -360px;
}
.services-rediffmail {
    background-position: -360px -360px;
}
.services-reuse {
    background-position: -385px 0;
}
.services-royalwin {
    background-position: -385px -24px;
}
.services-rozetka {
    background-position: 0 0;
}
.services-rummy {
    background-position: -385px -48px;
}
.services-rummyculture {
    background-position: -385px -72px;
}
.services-rummywealth {
    background-position: -385px -96px;
}
.services-rush {
    background-position: -385px -120px;
}
.services-rutube {
    background-position: -385px -144px;
}
.services-sahicoin {
    background-position: -385px -168px;
}
.services-samokat {
    background-position: -385px -192px;
}
.services-samsungshop {
    background-position: -385px -216px;
}
.services-sbermarket {
    background-position: -385px -240px;
}
.services-seznam {
    background-position: -385px -264px;
}
.services-shopee {
    background-position: -385px -288px;
}
.services-signal {
    background-position: -385px -312px;
}
.services-sikka {
    background-position: -385px -336px;
}
.services-siply {
    background-position: -385px -360px;
}
.services-skout {
    background-position: 0 -384px;
}
.services-snackvideo {
    background-position: -24px -384px;
}
.services-snapchat {
    background-position: -48px -384px;
}
.services-snappfood {
    background-position: -72px -384px;
}
.services-sneakersnstuff {
    background-position: -96px -384px;
}
.services-spartanpoker {
    background-position: -120px -384px;
}
.services-sportmaster {
    background-position: -144px -384px;
}
.services-ssoidnet {
    background-position: -168px -384px;
}
.services-steam {
    background-position: -192px -384px;
}
.services-steemit {
    background-position: -216px -384px;
}
.services-stoloto {
    background-position: -240px -384px;
}
.services-sunlight {
    background-position: -264px -384px;
}
.services-surveyjunkie {
    background-position: -288px -384px;
}
.services-surveytime {
    background-position: -312px -384px;
}
.services-swagbucks {
    background-position: -336px -384px;
}
.services-swiggy {
    background-position: -360px -384px;
}
.services-swvl {
    background-position: -384px -384px;
}
.services-talabat {
    background-position: -409px 0;
}
.services-tango {
    background-position: -409px -24px;
}
.services-tantan {
    background-position: -409px -48px;
}
.services-taobao {
    background-position: -409px -72px;
}
.services-taptapsend {
    background-position: -409px -96px;
}
.services-taskdealsin {
    background-position: -409px -120px;
}
.services-tatacliq {
    background-position: -409px -144px;
}
.services-teenpattirummy3 {
    filter: none !important;
    background-position: -409px -168px;
}
.services-telegram {
    background-position: -409px -192px;
}
.services-tencentqq {
    background-position: -409px -216px;
}
.services-teremok {
    background-position: -409px -240px;
}
.services-ticketmaster {
    background-position: -409px -264px;
}
.services-tiktok {
    background-position: -409px -288px;
}
.services-tosla {
    background-position: -409px -312px;
}
.services-tinder {
    background-position: -409px -336px;
}
.services-trendyol {
    background-position: -409px -360px;
}
.services-trip {
    background-position: -409px -384px;
}
.services-truecaller {
    background-position: 0 -408px;
}
.services-twelfthman {
    background-position: -24px -408px;
}
.services-twilio {
    background-position: -48px -408px;
}
.services-twitch {
    background-position: -72px -408px;
}
.services-twitter {
    background-position: -96px -408px;
}
.services-uber {
    background-position: -120px -408px;
}
.services-unacademy {
    background-position: -144px -408px;
}
.services-uploaded {
    background-position: -168px -408px;
}
.services-vernyi {
    background-position: -192px -408px;
}
.services-viber {
    background-position: -216px -408px;
}
.services-vinota {
    background-position: -240px -408px;
}
.services-vinted {
    background-position: -264px -408px;
}
.services-vipvending {
    background-position: -288px -408px;
}
.services-vitajekspress {
    background-position: -312px -408px;
}
.services-vkontakte {
    background-position: -336px -408px;
}
.services-wechat {
    background-position: -360px -408px;
}
.services-weku {
    background-position: -384px -408px;
}
.services-weststein {
    background-position: -408px -408px;
}
.services-whatsapp {
    background-position: -433px 0;
}
.services-whoosh {
    background-position: -433px -24px;
}
.services-wingmoney {
    background-position: -433px -48px;
}
.services-winzo {
    background-position: -433px -72px;
}
.services-wizely {
    background-position: -433px -96px;
}
.services-wmaraci {
    background-position: -433px -120px;
}
.services-wolt {
    background-position: -433px -144px;
}
.services-xiaomi {
    background-position: -433px -168px;
}
.services-yaay {
    background-position: -433px -192px;
}
.services-yahoo {
    background-position: -433px -216px;
}
.services-yalla {
    background-position: -433px -240px;
}
.services-yandex {
    background-position: -433px -264px;
}
.services-yappy {
    background-position: -433px -288px;
}
.services-yemeksepeti {
    background-position: -433px -312px;
}
.services-youdo {
    background-position: -433px -336px;
}
.services-yougotagift {
    background-position: -433px -360px;
}
.services-youla {
    background-position: -433px -384px;
}
.services-youstar {
    background-position: -433px -408px;
}
.services-yubo {
    background-position: 0 -432px;
}
.services-zalo {
    background-position: -24px -432px;
}
.services-zcity {
    background-position: -48px -432px;
}
.services-zebpay {
    background-position: -72px -432px;
}
.services-zepto {
    background-position: -96px -432px;
}
.services-ziglu {
    background-position: -120px -432px;
}
.services-zoho {
    background-position: -144px -432px;
}
.services-zupee {
    background-position: -168px -432px;
}
