.countries {
    width: 48px;
    height: 48px;
    min-width: 48px;
    background-image: url(/media/sprites/countries.png);
    background-repeat: no-repeat;
    display: block;
}

.countries-abkhazia {
    background-position: -5px -5px;
}

.countries-ad {
    background-position: -63px -5px;
}

.countries-ae {
    background-position: -121px -5px;
}

.countries-af {
    background-position: -179px -5px;
}

.countries-ag {
    background-position: -237px -5px;
}

.countries-ai {
    background-position: -295px -5px;
}

.countries-al {
    background-position: -353px -5px;
}

.countries-am {
    background-position: -411px -5px;
}

.countries-an {
    background-position: -469px -5px;
}

.countries-ao {
    background-position: -527px -5px;
}

.countries-aq {
    background-position: -585px -5px;
}

.countries-ar {
    background-position: -643px -5px;
}

.countries-as {
    background-position: -701px -5px;
}

.countries-at {
    background-position: -759px -5px;
}

.countries-au {
    background-position: -817px -5px;
}

.countries-aw {
    background-position: -5px -63px;
}

.countries-ax {
    background-position: -63px -63px;
}

.countries-az {
    background-position: -121px -63px;
}

.countries-ba {
    background-position: -179px -63px;
}

.countries-bb {
    background-position: -237px -63px;
}

.countries-bd {
    background-position: -295px -63px;
}

.countries-be {
    background-position: -353px -63px;
}

.countries-bf {
    background-position: -411px -63px;
}

.countries-bg {
    background-position: -469px -63px;
}

.countries-bh {
    background-position: -527px -63px;
}

.countries-bi {
    background-position: -585px -63px;
}

.countries-bj {
    background-position: -643px -63px;
}

.countries-bl {
    background-position: -701px -63px;
}

.countries-bm {
    background-position: -759px -63px;
}

.countries-bn {
    background-position: -817px -63px;
}

.countries-bo {
    background-position: -5px -121px;
}

.countries-br {
    background-position: -63px -121px;
}

.countries-bs {
    background-position: -121px -121px;
}

.countries-bt {
    background-position: -179px -121px;
}

.countries-bw {
    background-position: -237px -121px;
}

.countries-by_ {
    background-position: -295px -121px;
}

.countries-by {
    background-position: -353px -121px;
}

.countries-bz {
    background-position: -411px -121px;
}

.countries-ca {
    background-position: -469px -121px;
}

.countries-cd {
    background-position: -527px -121px;
}

.countries-cf {
    background-position: -585px -121px;
}

.countries-cg {
    background-position: -643px -121px;
}

.countries-ch {
    background-position: -701px -121px;
}

.countries-ci {
    background-position: -759px -121px;
}

.countries-cl {
    background-position: -817px -121px;
}

.countries-cm {
    background-position: -5px -179px;
}

.countries-cn {
    background-position: -63px -179px;
}

.countries-co {
    background-position: -121px -179px;
}

.countries-cr {
    background-position: -179px -179px;
}

.countries-cu {
    background-position: -237px -179px;
}

.countries-cv {
    background-position: -295px -179px;
}

.countries-cy {
    background-position: -353px -179px;
}

.countries-cz {
    background-position: -411px -179px;
}

.countries-de {
    background-position: -469px -179px;
}

.countries-dj {
    background-position: -527px -179px;
}

.countries-dk {
    background-position: -585px -179px;
}

.countries-dm {
    background-position: -643px -179px;
}

.countries-do {
    background-position: -701px -179px;
}

.countries-dz {
    background-position: -759px -179px;
}

.countries-ec {
    background-position: -817px -179px;
}

.countries-ee {
    background-position: -5px -237px;
}

.countries-eg {
    background-position: -63px -237px;
}

.countries-eh {
    background-position: -121px -237px;
}

.countries-england {
    background-position: -179px -237px;
}

.countries-er {
    background-position: -237px -237px;
}

.countries-es {
    background-position: -295px -237px;
}

.countries-et {
    background-position: -353px -237px;
}

.countries-eu {
    background-position: -411px -237px;
}

.countries-fi {
    background-position: -469px -237px;
}

.countries-fiji {
    background-position: -527px -237px;
}

.countries-fk {
    background-position: -585px -237px;
}

.countries-fm {
    background-position: -643px -237px;
}

.countries-fo {
    background-position: -701px -237px;
}

.countries-fr {
    background-position: -759px -237px;
}

.countries-ga {
    background-position: -817px -237px;
}

.countries-gd {
    background-position: -5px -295px;
}

.countries-ge {
    background-position: -63px -295px;
}

.countries-gg {
    background-position: -121px -295px;
}

.countries-gh {
    background-position: -179px -295px;
}

.countries-gi {
    background-position: -875px -818px;
}

.countries-gl {
    background-position: -237px -295px;
}

.countries-gm {
    background-position: -295px -295px;
}

.countries-gn {
    background-position: -353px -295px;
}

.countries-gq {
    background-position: -411px -295px;
}

.countries-gr {
    background-position: -469px -295px;
}

.countries-gs {
    background-position: -527px -295px;
}

.countries-gt {
    background-position: -585px -295px;
}

.countries-gu {
    background-position: -643px -295px;
}

.countries-gw {
    background-position: -701px -295px;
}

.countries-gy {
    background-position: -759px -295px;
}

.countries-hk {
    background-position: -817px -295px;
}

.countries-hn {
    background-position: -5px -353px;
}

.countries-hr {
    background-position: -63px -353px;
}

.countries-ht {
    background-position: -121px -353px;
}

.countries-hu {
    background-position: -179px -353px;
}

.countries-id {
    background-position: -237px -353px;
}

.countries-ie {
    background-position: -295px -353px;
}

.countries-il {
    background-position: -353px -353px;
}

.countries-im {
    background-position: -411px -353px;
}

.countries-in {
    background-position: -469px -353px;
}

.countries-iq {
    background-position: -527px -353px;
}

.countries-ir {
    background-position: -585px -353px;
}

.countries-is {
    background-position: -643px -353px;
}

.countries-it {
    background-position: -701px -353px;
}

.countries-je {
    background-position: -759px -353px;
}

.countries-jm {
    background-position: -817px -353px;
}

.countries-jo {
    background-position: -5px -411px;
}

.countries-jp {
    background-position: -63px -411px;
}

.countries-ke {
    background-position: -121px -411px;
}

.countries-kg {
    background-position: -179px -411px;
}

.countries-kh {
    background-position: -237px -411px;
}

.countries-ki {
    background-position: -295px -411px;
}

.countries-km {
    background-position: -353px -411px;
}

.countries-kn {
    background-position: -411px -411px;
}

.countries-kosovo {
    background-position: -469px -411px;
}

.countries-kp {
    background-position: -527px -411px;
}

.countries-kr {
    background-position: -585px -411px;
}

.countries-kw {
    background-position: -643px -411px;
}

.countries-ky {
    background-position: -701px -411px;
}

.countries-kz {
    background-position: -759px -411px;
}

.countries-la {
    background-position: -817px -411px;
}

.countries-lb {
    background-position: -5px -469px;
}

.countries-lc {
    background-position: -63px -469px;
}

.countries-li {
    background-position: -121px -469px;
}

.countries-lk {
    background-position: -179px -469px;
}

.countries-lr {
    background-position: -237px -469px;
}

.countries-ls {
    background-position: -295px -469px;
}

.countries-lt {
    background-position: -353px -469px;
}

.countries-lu {
    background-position: -411px -469px;
}

.countries-lv {
    background-position: -469px -469px;
}

.countries-ly {
    background-position: -527px -469px;
}

.countries-ma {
    background-position: -585px -469px;
}

.countries-mc {
    background-position: -643px -469px;
}

.countries-md {
    background-position: -701px -469px;
}

.countries-me {
    background-position: -759px -469px;
}

.countries-mf {
    background-position: -817px -469px;
}

.countries-mg {
    background-position: -5px -527px;
}

.countries-mh {
    background-position: -63px -527px;
}

.countries-mk {
    background-position: -121px -527px;
}

.countries-ml {
    background-position: -179px -527px;
}

.countries-mm {
    background-position: -237px -527px;
}

.countries-mn {
    background-position: -295px -527px;
}

.countries-mo {
    background-position: -353px -527px;
}

.countries-mp {
    background-position: -411px -527px;
}

.countries-mr {
    background-position: -469px -527px;
}

.countries-ms {
    background-position: -527px -527px;
}

.countries-mt {
    background-position: -585px -527px;
}

.countries-mu {
    background-position: -643px -527px;
}

.countries-mv {
    background-position: -701px -527px;
}

.countries-mw {
    background-position: -759px -527px;
}

.countries-mx {
    background-position: -817px -527px;
}

.countries-my {
    background-position: -5px -585px;
}

.countries-mz {
    background-position: -63px -585px;
}

.countries-na {
    background-position: -121px -585px;
}

.nagorno-flags-karabakh {
    background-position: -179px -585px;
}

.countries-nato {
    background-position: -237px -585px;
}

.countries-nf {
    background-position: -295px -585px;
}

.countries-ng {
    background-position: -353px -585px;
}

.countries-ni {
    background-position: -411px -585px;
}

.countries-ni_ {
    background-position: -469px -585px;
}

.countries-nl {
    background-position: -527px -585px;
}

.countries-no {
    background-position: -585px -585px;
}

.countries-np {
    background-position: -643px -585px;
}

.countries-nr {
    background-position: -701px -585px;
}

.countries-nz {
    background-position: -759px -585px;
}

.countries-om {
    background-position: -817px -585px;
}

.countries-pa {
    background-position: -5px -643px;
}

.countries-pe {
    background-position: -63px -643px;
}

.countries-pg {
    background-position: -121px -643px;
}

.countries-ph {
    background-position: -179px -643px;
}

.countries-pk {
    background-position: -237px -643px;
}

.countries-pl {
    background-position: -295px -643px;
}

.countries-pn {
    background-position: -353px -643px;
}

.countries-pr {
    background-position: -411px -643px;
}

.countries-ps {
    background-position: -469px -643px;
}

.countries-pt {
    background-position: -527px -643px;
}

.countries-pw {
    background-position: -585px -643px;
}

.countries-py {
    background-position: -643px -643px;
}

.countries-qa {
    background-position: -701px -643px;
}

.countries-re {
    background-position: -759px -237px;
}

.countries-nc {
    background-position: -118px -866px;
}

.countries-om {
    background-position: -2px -866px;
}

.countries-tl {
    background-position: -55px -866px;
}

.countries-red_cross {
    background-position: -759px -643px;
}

.countries-ro {
    background-position: -817px -643px;
}

.countries-rs {
    background-position: -5px -701px;
}

.countries-ru {
    background-position: -63px -701px;
}

.countries-rw {
    background-position: -121px -701px;
}

.countries-sa {
    background-position: -179px -701px;
}

.countries-sb {
    background-position: -237px -701px;
}

.countries-sc {
    background-position: -295px -701px;
}

.countries-scotland {
    background-position: -353px -701px;
}

.countries-sd {
    background-position: -411px -701px;
}

.countries-se {
    background-position: -469px -701px;
}

.countries-sg {
    background-position: -527px -701px;
}

.countries-sh {
    background-position: -585px -701px;
}

.countries-si {
    background-position: -643px -701px;
}

.countries-sk {
    background-position: -701px -701px;
}

.countries-sl {
    background-position: -759px -701px;
}

.countries-sn {
    background-position: -817px -701px;
}

.countries-so {
    background-position: -5px -759px;
}

.countries-somaliland {
    background-position: -63px -759px;
}

.countries-south_ossetia {
    background-position: -121px -759px;
}

.countries-sr {
    background-position: -179px -759px;
}

.countries-ss {
    background-position: -237px -759px;
}

.countries-st {
    background-position: -295px -759px;
}

.countries-sv {
    background-position: -353px -759px;
}

.countries-sy {
    background-position: -411px -759px;
}

.countries-sz {
    background-position: -469px -759px;
}

.countries-tc {
    background-position: -527px -759px;
}

.countries-td {
    background-position: -585px -759px;
}

.countries-tg {
    background-position: -643px -759px;
}

.countries-th {
    background-position: -701px -759px;
}

.countries-tj {
    background-position: -759px -759px;
}

.countries-tm {
    background-position: -817px -759px;
}

.countries-tn {
    background-position: -5px -817px;
}

.countries-to {
    background-position: -63px -817px;
}

.countries-tp {
    background-position: -121px -817px;
}

.countries-tr {
    background-position: -179px -817px;
}

.countries-tt {
    background-position: -237px -817px;
}

.countries-turkish_republic_of_northern_cyprus {
    background-position: -295px -817px;
}

.countries-tv {
    background-position: -353px -817px;
}

.countries-tw {
    background-position: -411px -817px;
}

.countries-tz {
    background-position: -469px -817px;
}

.countries-ua {
    background-position: -527px -817px;
}

.countries-ug {
    background-position: -585px -817px;
}

.countries-gb {
    background-position: -643px -817px;
}

.countries-un {
    background-position: -701px -817px;
}

.countries-us {
    background-position: -759px -817px;
}

.countries-uy {
    background-position: -817px -817px;
}

.countries-uz {
    background-position: -875px -5px;
}

.countries-va {
    background-position: -875px -63px;
}

.countries-vc {
    background-position: -875px -121px;
}

.countries-ve {
    background-position: -875px -179px;
}

.countries-vg {
    background-position: -875px -237px;
}

.countries-vi {
    background-position: -875px -295px;
}

.countries-vn {
    background-position: -875px -353px;
}

.countries-vu {
    background-position: -875px -411px;
}

.countries-wales {
    background-position: -875px -469px;
}

.countries-ws {
    background-position: -875px -527px;
}

.countries-ye {
    background-position: -875px -585px;
}

.countries-za {
    background-position: -875px -643px;
}

.countries-zm {
    background-position: -875px -701px;
}

.countries-zw {
    background-position: -875px -759px;
}
